In [40]:
%matplotlib inline

import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy import stats
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.graphics.api import qqplot

data_root = "/Users/onkar.pandit/PycharmProjects/dummy/TimeSeriesForecast/data/raw/"

def read_csv(file_path):
    df = pd.read_csv(file_path,index_col=False)
    return df

def get_year_month(df):
    df['year'] = pd.DatetimeIndex(df['Date']).year
    df['month'] = pd.DatetimeIndex(df['Date']).month
    return df

In [41]:
df = read_csv(os.path.join(data_root,"sensex.csv"))
df = get_year_month(df)

In [42]:
df.tail()

                 Date      Open      High       Low     Close  year  month
6718  17-January-2024  71998.93  72484.80  71429.30  71500.76  2024      1
6719  18-January-2024  71018.86  71451.29  70665.50  71186.86  2024      1
6720  19-January-2024  71786.74  71895.64  71542.74  71683.23  2024      1
6721  20-January-2024  72008.30  72026.26  71312.71  71423.65  2024      1
6722  23-January-2024  71868.20  72039.20  70234.55  70370.55  2024      1

In [43]:
df_train, df_test = df[df['year']<2021], df[df['year']>=2021]
print(f"total: {len(df)} \t train: {len(df_train)}, test: {len(df_test)}")

total: 6723 	 train: 5964, test: 759

In [60]:
window_size = 13
X =[]
y = []
for i in range(window_size,len(df_test)):
    X.append(df_test['Close'].iloc[i-window_size:i])
    y.append(df_test['Close'].iloc[i])

In [61]:
xx = np.array(X)
xx[0]

array([47868.98, 48176.8 , 48437.78, 48174.06, 48093.32, 48782.51,
       49269.32, 49517.11, 49492.32, 49584.16, 49034.67, 48564.27,
       49398.29])

In [62]:
yy = np.array(y)
yy.shape

(746,)

In [18]:
mod = ARIMA(df_train['Close'], order=(13, 0, 0))
model_fit = mod.fit()
# itc_df['Close_pred'] = res.predict()
# print(res.summary())

/Users/onkar.pandit/miniconda3/envs/tsa/lib/python3.11/site-packages/statsmodels/tsa/statespace/sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'
/Users/onkar.pandit/miniconda3/envs/tsa/lib/python3.11/site-packages/statsmodels/base/model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [31]:
len(df_train)

5964

In [13]:
res

In [24]:
forecast = model_fit.forecast(steps=len(df_test))

In [25]:
type(forecast)

pandas.core.series.Series

In [26]:
df_test['pred_values'] = forecast

/var/folders/g6/ylqy09q54v911zyx1bmf687c0000gp/T/ipykernel_17974/4244669927.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['pred_values'] = forecast

In [27]:
df_test.head()

,Date,Open,High,Low,Close,year,month,pred_values
5964,1-January-2021,47785.28,47980.36,47771.15,47868.98,2021,1,47773.705939
5965,4-January-2021,48109.17,48220.47,47594.47,48176.80,2021,1,47841.244664
5966,5-January-2021,48037.63,48486.24,47903.38,48437.78,2021,1,47635.722495
5967,6-January-2021,48616.66,48616.66,47864.14,48174.06,2021,1,47971.207785
5968,7-January-2021,48524.36,48558.34,48037.87,48093.32,2021,1,47726.011125

In [28]:
!which python

/Users/onkar.pandit/miniconda3/bin/python

In [29]:
!python

Python 3.11.5 (main, Sep 11 2023, 08:31:25) [Clang 14.0.6 ] on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>>
KeyboardInterrupt
>>>
>>>

In [30]:
s = 12